* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body{
	/* background-color:black; */
	background-image: url(../images/fondo.jpg);
	/* background-size: contain; */
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}
header{
	padding-top: 2%;
	padding-right: 7%;
	padding-bottom: 2%;
	padding-left: 7%;
	display: flex;
	justify-content: space-between;
}
nav ul{
	margin-top: 3%;
}
nav ul li{
	display: inline-block;
}
nav ul li a{
	font-size: 1.2rem;
	padding-right: 2rem;
	text-transform: uppercase;
	color: gold;
	font-family: 'IM Fell English', sans-serif;
	text-shadow: 1px 0 #000;
}

nav ul li a:hover{
	color:#f00;
	background-color:#fff;
	transform: translate(-10%, -90%);	
	font-weight: 800;
	transition:all 1s ease-in-out;
}

a{
	text-decoration: none;
	color: #fff;
}
.icon { display: none; }
section{
	max-width: 1300px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.principal{
	width: 100%;
	height: 50em;
	/* background-image: url(../images/fondo.jpg);
	background-size: contain;
	background-repeat: no-repeat; */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: top;
	color: #ffffff;
}
.principal div img{
	width: 70%;
}

.principal p{
	/* background-color:rgba(0,0,0,.5); */
	width: 80%;
}

.secundario{
	margin-top: 5%;
	display: flex;
}
.secundario div{
	width: 33%;
	padding: 2%;
	text-align: center;
}
.secundario div a img{
	width: 100%;
	margin-bottom: 2rem;
}
h4{
	font-size: 1.5rem;
	text-transform: uppercase;
}
footer{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 350px;
}
/* footer img{
	max-width: 2.5rem;
	width: 100%;
	height: auto;
	margin-right: .5%;
} */

.redes{
	font-size:3em;
	margin: 0 .1em;
}

@media (max-width: 720px) { 
header{
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: column;
	position: sticky;
	top: 0;
	z-index: 1;
}
header div, header a {
	flex: 1 0 50%;
}
header nav {
	flex-basis: 100%;
	/* flex-basis: content; */
}
.icon {
	display: block;
	padding-right: 0.6rem;
	text-align: right;
}
nav ul {
	/* transition: opacity .5s; */
	display: none;
}
nav.responsive ul {
	/* transition: opacity .5s; */
	display: block;
	background-color:rgba(25, 100, 110, 0.9);
	border-style: solid;
	border-color: rgb(75, 200, 220);
}
nav.responsive ul li {
	display: block;
	text-align: center;
	padding: 0.5rem;
}
nav.responsive ul li a {
	padding-right: 0;
}
section{
	margin-top: 100px;
	max-width: 480px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.principal{
	height: 250px;
	padding: 10%;
	display: flex;
	justify-content: center;
	align-items:top;
	
}
.secundario{
	margin-top: 1%;
	display: block;
}
.secundario div{
	margin-right: auto;
	margin-left: auto;
	width: 90%;
}
.secundario div a img{
	margin-bottom: 1rem;
}
h2{
	font-size: 1rem;
}
h4{
	font-size: 1rem;
}

footer{
	height: 80px;
	justify-content: space-evenly;
}
footer img{
	max-width: 3rem;
}
}